.aboutimg{
    width: 60%;
    margin:10px;
    border-radius: 2%;
    
}
.aboutbackground{
    background: linear-gradient(163deg, rgba(196, 204, 205, -0.199), transparent),url(../Assets/images/about.webp);
    /* opacity: 0.5; */
}

.skill ul li{
    text-transform: capitalize;
    font-family: -webkit-pictograph;

     
}

.paragraph p{
   
    text-transform: capitalize;
    font-size: 1em;
    font-family: -webkit-pictograph;

}