

.Footer h3{
    font-weight: 600;
    text-align: center;

    text-transform:uppercase;
    font-size: 1.5em;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 3rem;

}
.footericon{
    margin-top: 4rem;
    
}

.footer-link a{
  margin:5px;
  color:white;
}

.copy-style{
 
    background-color: #101018f8;
    color: #fff;
    font-size: 1em;
    border: 2px solid #101018f8;
    border-top-left-radius: 3px;
    margin-top: -40px;

  
}

.footer-link a:hover{
  color: #00e6d2 ;
}

hr{
  width:60%;
  color: #00e6d2;
}

@media screen and (min-width:768px){
  /* .Footer h3{
    margin-left: 30px;
  } */
  
}

ul li a{
  cursor: pointer;
  color:white
}


ul li a:hover{
  color: #00e6d2;
}
.address{
  color: white;
}
/* .contact-jumbotron {
    background-image: url("../../assets/img/background/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #youtube-btn {
    border-color: #f83f37;
    color: #f83f37;
  }
  #youtube-btn:hover {
    background-color: #f83f37;
    color: #ffffff;
  }
   */