

.Footer h3{
    font-weight: 600;
    text-align: center;

    text-transform:uppercase;
    font-size: 1.5em;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 3rem;

}
.footericon{
    margin-top: 4rem;
}


/* .contact-jumbotron {
    background-image: url("../../assets/img/background/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #youtube-btn {
    border-color: #f83f37;
    color: #f83f37;
  }
  #youtube-btn:hover {
    background-color: #f83f37;
    color: #ffffff;
  }
   */